{% extends "base.html" %}
{%block title%}{%endblock%}
{%block main_content%}

<div id="masthead">
    <h1>Descramble</h1>
</div>
<div id="mastbody">
    <div id="container">
        <textarea id="input" class="form-input" tabIndex=1></textarea>
    </div>
    <div>
        <button id="solve-button" tabIndex=2>SOLVE</button>
    </div>
    <div id="output" class="output-text" tabIndex=3></div>
</div>

<script>
$('#solve-button').click(
    function(evt)
    {
        $('#output').empty();
        $.when( $.ajax({ type: "POST", url: "/solve", dataType: "text",
            data: {"letters":$("#input").val()},
        }) ).then(
            function(result)
            {
                var wordInfos = JSON.parse(result);

                var letterListPairs = [];
                for( var letter in wordInfos )
                {
                    var wordList = wordInfos[letter];
                    letterListPairs.push( {letter:letter, wordList:wordList } );
                }

                letterListPairs.sort( function(a,b) {return a.letter < b.letter ? -1 : 1} );

                for( var j=0; j < letterListPairs.length; ++j )
                {
                    var letter = letterListPairs[j].letter;
                    var wordList = letterListPairs[j].wordList;

                    var group = $("<div>")
                        .addClass("output-group")
                        .append( $("<div>").addClass("output-group-letter").text(letter) )
                    $("#output").append(group);

                    for( var i=0; i < wordList.length; ++i )
                    {
                        group.append(
                            $("<div>")
                                .addClass("output-text")
                                .text(wordList[i])
                        )
                    }
                }
            }
        );
    }
)
</script>

{%endblock%}
